<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Node Js News</title>
</head>
<body>
    <h1>Node JS News</h1>

    <% articles.forEach(function(article, index) { %>

        <%- article.title.rendered %>
        
    <% }) %>

</body>
</html>